.main-div{
    display: grid;
    grid-template-rows: 100px 70px 10px;
    row-gap: 30px;
}
.header{
    font-size: 50px;
}
.location{
    display: grid;
    grid-template-rows: 30px 30px;
    row-gap: 10px;
    width: 500px;
}
input{
    border-width: 0px;
    background-color: rgb(244, 244, 244);
    border-radius: 5px;
}
.button{
    display: grid;
    grid-template-columns: 100px 200px;
    height: 40px;
    column-gap: 10px;
}
.request{
    background-color: black;
    color: white;
    border-width: 0px;
    border-radius: 5px;
}
.schedule{
    border-width: 0px;
}