.video-list{
    display: flex;
    flex-direction: column;
    gap: 10px;
    width: 650px;
    vertical-align: middle;
}
.video{
    display: flex;
    flex-direction: row;
    gap: 10px;
    vertical-align: center;
}
.pic{
    width: 140px;
    height: 100px;
}
.title{
    font-weight: bold;
    font-size: 18px;
    margin-bottom: 10px;
}
.creator{
    font-size: 14px;
    opacity: 0.8;
    margin-top: 0px;
    margin-bottom: 0px;
}
.views-age{
    font-size: 14px;
    opacity: 0.8;
    margin-top: 0px;
}