.login-page{
    display: flex;
    flex-direction: column;
    width: 300px;
}
.heading{
   margin-bottom: 5px;
   font-size: 12px; 
}
.search-bar{
    margin-top: 0px;
    height: 25px;
}
.disclaimer{
    font-size: 12.5px;
    margin-top: 15px;
}
.button{
    margin-left: 50px;
    width: 200px;
    height: 40px;
    background-color: rgb(54, 54, 226);
    color: white;
    border-radius: 20px;
    border-width: 0px;
}
