.box{
    height: 200px;
    width: 500px;
    background-color: black;
}
.header{
    color: white;
    font-size: 40px;
    padding-left: 10px;
    padding-top: 20px;
    font-family: sans-serif;
    font-weight: bold;
}
.body{
    color: gray;
    font-size: 20px;
    padding-left: 10px;
}